*{
}
/* NavBar --------------------------------------------------*/
header{
    align-items: center;
    padding: 0 50px;
}
.uppernav{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px 0 15px 0;
    border-bottom: 1px solid rgb(50, 49, 49, 0.1) ;
  }
  .box2{
    justify-content: center;
  }

.box3{
 display: flex;
 justify-content: right;
 align-items: center;
 column-gap: 5px;
}

ul{
    color: white;
    font-weight: bolder;
    list-style-type: none;
    display: flex;
    column-gap: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1.2rem;
    position: relative;
}


.hero-img{
    position: relative;
    overflow: hidden;
    scroll-behavior: none;
    background-image: url('path/to/your/hero-image.jpg');
    background-size: contain;
    background-position: bottom;
    bottom: 120px;
    height: 600px;
    z-index: -1;

}

.hero-img img{
    position: relative;
    bottom: 50px;
    width: 100%; 
    height: 720px;
    scroll-behavior: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hero-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent); /* Use a gradient for the smooth transition */
    z-index: 1;
  }

  /* Headings  ------------------------------------------- */
 .slice{
    overflow-x: hidden;
    position: relative;
    bottom: 100px;
 }
 
  .slice h1{
    padding: 0;
    margin: 10;
    color:  #0A5425;
    font-size: 3.6rem;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition:transform 1s ease-in-out;
 
}
.slice h1:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}



.special{
    overflow-x: hidden;
    position: relative;
    bottom: 100px;
}
.special h1{
    padding: 0;
    margin: 10;
    color:  rgb(120, 16, 52);
    font-size: 3.6rem;
    position: relative;
    overflow: hidden;
    animation: moveLeftToRight 10s ease-in infinite;
    -webkit-animation: moveLeftToRight 10s ease-in infinite;
}

  .summer h1{
    width: 100%;
    color: rgb(98, 242, 242);
    /*Useagradientbackgroundforthesectionheading*/font-size: 3.3rem;
    text-align: center;
     /* Apply the animation to the heading */  :;
    -webkit-animation: moveLeftToRight 4s linear infinite;
}




  
  h1{
      text-align: center;
      font-size: 2rem;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bolder;
      color: rgb(58, 55, 55);
  }

/* Product ---------------------------------------------*/



.container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.aftsummer{
    height: auto;
    background-color: brown;
    background: url("../img/fastfood.jpg"); /* Set the background image path */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); /* Glass effect with backdrop filter */

}

.product{
    background-color: white;
    padding: 5px;
    margin: auto;
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 5px solid green;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 2px 3px 4px 2px rgb(57, 56, 56,0.5);
    transition: transform 0.3s ease-in-out, box-shadow 1s ease-in-out;
    /*Addtransitionforsmootheffect*/:;
    -webkit-transition: transform 0.3s ease-in-out, box-shadow 1s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, box-shadow 1s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, box-shadow 1s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, box-shadow 1s ease-in-out;
}

.product:hover{
    transform: scale(1.1); /* Increase the size on hover by 10% */
    box-shadow: 3px 3px 6px 3px rgba(57, 56, 56, 0.7); /* Add a deeper box shadow on hover */
}




.product img{
    border-radius: 20px;
    padding: 0 3 ;

}
.product h3{
    position: relative;
    margin-top: 2;
    margin-bottom: 0;
}
.product p{
    position: relative;
    margin-top: 0;
    margin-bottom: 2;
}





.Appitizer{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.appcon1{
    width: 30%;
}
.appcon2{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(98, 242, 242);
    filter: sepia();
    padding-left: 40px;
    float: left;
    -webkit-filter: sepia();
}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px rgb(49, 48, 48,  0.2) solid;
}
.f1{
    display: flex;
    
}
.f1a{
   float: right;
}

.f1b{
    padding-left: 30px;
 }

 .f2{
    position: relative;
    left: 20px;
 }


  /* Media Query ----------------------------------------------------------------*/

  @media (max-width: 400px) {
    *{
        padding: 0;
        margin: 0;
    }
    .uppernav>.box1{
        align-self:  center;
        justify-content: center;
     }
     .uppernav>.box2{
        display: none;
     }
     .uppernav>.box3{
        display: none;
     }
     .secrnav{
        visibility: hidden;
     }
}

@media screen and (max-width: 768px) {
    .hero-image {
      background-size: contain; /* Fit the image within the container on smaller screens */
      background-repeat: no-repeat; /* Prevent repeating the image */
      height: auto; /* Allow the container to adjust its height based on the image size */
    }
  }


@keyframes buttonhover {
    0%{
        
    }
    100%{
        height: 10%;

    }
}

@keyframes moveLeftToRight {
    0% {
      left: -40%; /* Start position - move the heading outside the left edge */
    }
    100% {
      left: 40%; /* End position - move the heading outside the right edge */
    }
  }


 /* All Buttons ------------------------------------------------*/
 .btn {
    position: relative;
    bottom: 8px;
    margin-top: 0;
    margin-bottom: 5;
    padding: 3px 15px;
    color: rgb(255, 255, 255);
    background-color: #0A5425;
    font-weight: bold;
    border: 2px solid rgb(50, 49, 49);
    font-size: 1rem;
    border-radius: 20px;
    transition: background-color 0.5s ease-in, color 0.5s ease-in, box-shadow 0.5s ease-in, transform 0.3s ease-in;
  }

.btn:hover {

    border: 2px solid rgb(255, 255, 255);

    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.5); /* Adding a background shadow on hover */
    transform: scale(1.3); /* Increasing the size of the button by 30% on hover */
    position: relative;
}


/* Blue ---------------------------*/
.b{
    color: white;
    background-color: rgb(9, 183, 207);
    border-color: white;

}
.b:hover{
    color: white;
    background-color: rgb(9, 183, 207);
 
}
.bborder{
    border: 5px solid rgb(9, 183, 207);

}

/* Yeloow-------------------------- */
.y{
    color: rgb(78, 77, 77);
    background-color: rgb(252, 237, 34);

}
.y:hover{
    color: rgb(78, 77, 77);
    background-color: rgb(252, 237, 34);
}
.yborder{
    border: 5px solid rgb(252, 237, 34);

}


/* Purple ----------------------*/
.p{
    color: white;
    background-color: rgb(120, 16, 52);

}
.p:hover{
    color: white;
    background-color: rgb(120, 16, 52);
}
.pborder{
    border: 5px solid rgb(120, 16, 52);

}

.wborder{
    font-size: 1.1rem;
    border: 2px solid rgb(255, 255, 255);

}
/* Premium ------------*/
.Premium{
    flex-wrap: wrap-reverse;
}



.glass-container {
    background: linear-gradient(135deg, rgba(67, 67, 67, 0.5), rgba(26, 26, 26, 0.5), url("../img/fastfood.jpg")); /* Set the background image path */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); /* Apply the blur effect */
  }

  
.photo-container {
    max-width: 100%; /* Ensure the photo doesn't exceed the screen width */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-container img {
    max-width: 100%;
    height: auto;
  }



  /* Order fORM ------------------------------------------------------*/
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Light background color */
  }
  
  .photo-container {
    position: relative;
    width: 100%;
    height: 400px; /* Set the initial height of the photo container */
    background-image: url('../img/burg.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .order-form {
    width: 80%;
    padding: 20px;
    max-width: 400px; /* Set the maximum width of the order form */
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background with opacity */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    backdrop-filter: blur(10px); /* Glass effect with backdrop filter */
  }
  
  h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333; /* Dark text color */
  }
  select{
    padding: 5px;
    border-radius: 10px;
    width: auto;
    text-align: center;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  select, label {
    display: block;
    margin-bottom: 10px;
  }
  
  label {
    color: #333; /* Dark text color */
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .bttn {
    margin: auto;
    color: #fecd3b;
    background-color: black;

    /*Blacktextcolor*/border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}
  
  .bttn:hover {
    background-color: #FFBA00;
   color: #000;
    font-weight: bolder;
  }
  